html,body,*{
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1px;
}
body{
    font-family: 'Abril Fatface', cursive;
    color: rgb(36, 34, 32);
    font-size: 7rem;
}

.heading{
    text-align: center;
}

.heading-animation{
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
 

@keyframes pulse{
  0% {
    background: pink;
    color: rgb(156, 8, 161);
  }

  50% {
    background:rgb(156, 8, 161);
    color:pink;
  }

  100% {
    background: pink;
    color: rgb(156, 8, 161);
  }
}


.img-all{
    height: auto; 
    width: 50rem;
}


.flexbox{
    font-size:8rem ;
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
    justify-content: space-evenly;
    
}
.card{
    border: solid black 6px;
    margin-bottom: 2rem;
    background-color: cornsilk;
    text-align: center;
    box-shadow: darkgrey 6px 6px 6px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    }


.card1:hover{
    transform:scale(1.08)
}

.card2:hover{
    transform:scale(0.65) rotate(35deg);
  }

.card3:hover{
    background:rgb(98, 163, 163);
}


@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      
}

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
      

@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
      
.hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active {
    -webkit-animation-name: hvr-pulse-shrink;
    animation-name: hvr-pulse-shrink;    
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
      
}
      

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@media only screen and (max-width: 76em) {
  body{
    background-image: url(https://media.istockphoto.com/photos/sand-texture-top-view-on-the-tropical-beach-with-visible-sand-texture-picture-id914134354?k=20&m=914134354&s=170667a&w=0&h=dSFnDpHvqnnQ5PmGoeJmZGTlWZLUc6hCt5iesbwtUrI=);
   }
  .heading{
    font-size: 4rem;
    background-color: #rgb(253, 202, 234);
  }

  .subheading {
    font-size: 3rem;
    margin: 1.5625rem 1.5625rem;
  }

  .parent {
    flex-direction: row;
    font-size: 2rem;
  }

  .img-paragraph {
    font-size: 2rem;
  }

  .location-box {
    height: 20%;
    width: 40%;
    padding: 0.9375rem;
    margin: 0.3125rem 0.3125rem;
    margin-top: 1.875rem;
    box-shadow: 0.75rem 0.75rem 0.0625rem 0.0625rem #506dd4;
  }
  .location-img {
    padding-left: 10%;
    width: 90%;
    height: 30%;
    align-items: center;
    justify-content: center;
    object-position: 50% 50%;
  }
}

@media only screen and (max-width: 44em) {
 body{
  background-image: url(https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
 }
  .heading{
    font-size: 3rem;
  }

  .subheading {
    font-size: 2rem;
    margin: 1.5625rem 1.5625rem;
  }

  .parent {
    flex-direction: column;
    font-size: 1.5rem;
  }

  .img-paragraph {
    font-size: 1.5rem
  }

  .location-box {
    height: 10%;
    width: 75%;
    padding: 0.9375rem;
    margin: 0.3125rem 0.3125rem;
    margin-top: 1.875rem;
    box-shadow: 0.75rem 0.75rem 0.0625rem 0.0625rem #506dd4;
  }

  .location-img {
    padding-left: 10%;
    width: 90%;
    height: 30%;
    align-items: center;
    justify-content: center;
    object-position: 50% 50%;
  }
}
